.notification-scroll-text{
    text-decoration: none;
    color: black;
}

.notification-scroll-text:hover{
    color: rgb(46, 46, 100);
}

.marquee-body{
    padding: 3px;
    background-color: rgb(220, 220, 220);
    text-transform: uppercase;
    font-size: 15px;
}