

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
*{
  /* font-family: 'Noto Serif', serif; */
  /* background-color: azure; */
}

.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}